@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Droid+Sans)

html
	background: url(../images/background.png)

body
	width: 960px
	margin: 50px auto
	font-family: 'Droid Sans'

	h1, h2
		margin: 0
		text-align: center
		text-shadow: 0 1px 0 #FFF

	h1
		font: 42px 'Yanone Kaffeesatz'
		color: #FB4F4F

	h2
		font-size: 18px
		font-weight: normal
		color: #444


#board
	margin: 20px auto
	width: 456px
	overflow: hidden
	border: 1px solid #000
	outline: 1px solid #FFF
	box-shadow: 0 0 20px #eee

	.sub-square
		float: left
		border: 2px solid #222
		width: 150px
		overflow: hidden
		margin: -1px

	input
		float: left
		width: 50px
		padding: 0
		border: 1px solid #888
		margin: -1px
		outline: none
		background: #FFF
		text-align: center
		font: 30px 'Droid Sans'
		line-height: 50px
		color: #000

#actions
	display: none

#github
	display: block
	position: absolute
	overflow: hidden
	text-indent: -9999px
	top: 0
	right: 0
	width: 149px
	height: 149px
	background: url(../images/github.png)