@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Droid+Sans)

html
	background: url(../images/background.png)

body
	width: 960px
	margin: 50px auto
	font-family: 'Droid Sans'

	h1, h2
		margin: 0
		text-align: center
		text-shadow: 0 1px 0 #FFF

	h1
		font: 42px 'Yanone Kaffeesatz'
		color: #FB4F4F

	h2
		font-size: 18px
		font-weight: normal
		color: #444


#board
	display: none

#actions
	display: none